.chat-room-container {
  position: static;
  /* left: 0;
  right: 0;
  top: 0;
  bottom: 0; */
  display: flex;
  flex-direction: column;
  margin: 16px;
  width: 450px;
  height: 550px;
}

.room-name {
  margin-top: 0;
}

.messages-container {
  flex: 1;
  min-height: 300px;
  overflow: auto;
  border: 1px solid black;
  border-radius: 7px 7px 0 0;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.new-message-input-field {
  height: 25px;
  max-height: 50%;
  font-size: 20px;
  padding: 8px 12px;
  resize: none;
}

.message-item {
  width: 55%;
  margin: 8px;
  padding: 12px 8px;
  word-break: break-word;
  border-radius: 4px;
  color: white;
}

.my-message {
  background-color: #388f8d;
  margin-left: auto;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.received-message {
  background-color: #3f4042;
  margin-right: auto;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.send-message-button {
  font-size: 18px;
  font-weight: 600;
  color: white;
  background: #4ab7b7;
  padding: 12px 12px;
  border: none;
}

.messages-container,
.new-message-input-field,
.send-message-button {
  border-color: #9a9a9a;
}
